In [1]:
from filmsets import *
from FilmCollectionExport import *

filmset = GenreSet.Comedy.tiny

collection = FilmCollection( 
    filmset, 
    default_metadata=[
        FilmRecord.IDENTITY_FLAG,
        FilmRecord.TAGLINES_FLAG,
        FilmRecord.PROD_COS_FLAG,
        FilmRecord.DETAILED_FLAG
    ])
collection.load_all_metadata()

In [2]:
print( SQLExport.BaseSQLExport( collection))

INSERT INTO Movie (film_id, film_title, film_year) VALUES ("tt0247745", "Super Troopers", 2001);

In [3]:
print( SQLExport.TaglineSQLExport( collection))

INSERT INTO Movie (film_id, film_title, film_year) VALUES ("tt0247745", "Super Troopers", 2001);

INSERT INTO Tagline (film_id, tagline_text, tagline_id) VALUES ("tt0247745", "Altered State Police", 0);
INSERT INTO Tagline (film_id, tagline_text, tagline_id) VALUES ("tt0247745", "You dont mess with the law.  The law messes with you.", 1);

In [4]:
print( SQLExport.ProductionSQLExport( collection))

INSERT INTO Movie (film_id, film_title, film_year) VALUES ("tt0247745", "Super Troopers", 2001);

INSERT INTO Production (production_id, production_name) VALUES (0, "Cataland Films");
INSERT INTO Production (production_id, production_name) VALUES (1, "Broken Lizard Industries");
INSERT INTO Production (production_id, production_name) VALUES (2, "Fox Searchlight Pictures");
INSERT INTO Production (production_id, production_name) VALUES (3, "Jersey Shore");
INSERT INTO Production (production_id, production_name) VALUES (4, "Árpád Productions");

INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 0);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 1);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 2);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 3);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 4);

In [5]:
print( SQLExport.DetailedSQLExport( collection))

INSERT INTO Movie (film_id, film_title, film_year, film_budget, film_boxoffice, film_runtime) VALUES ("tt0247745", "Super Troopers", 2001, 3000000, 23182223, 100);

INSERT INTO Person (person_id, person_name) VALUES (0, "Jay Chandrasekhar");
INSERT INTO Person (person_id, person_name) VALUES (1, "Kevin Heffernan");
INSERT INTO Person (person_id, person_name) VALUES (2, "André Vippolis");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (film_id, role_code, person_id) VALUES ("tt0247745", 0, 0);
INSERT INTO Role (film_id, role_code, person_id) VALUES ("tt0247745", 1, 1);
INSERT INTO Role (film_id, role_code, person_id) VALUES ("tt0247745", 1, 0);
INSERT INTO Role (film_id, role_code, person_id) VALUES ("tt0247745", 2, 1);
INSERT INTO Role (film_id, role_code, person_id) VALUES ("tt0247745", 2, 2);
INSERT INTO Role (film_id, role_code, person_id) VALUES ("tt0247745", 2, 0);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Crime");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Comedy");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Mystery");

INSERT INTO MovieGenre (film_id, genre_id) VALUES ("tt0247745", 0);
INSERT INTO MovieGenre (film_id, genre_id) VALUES ("tt0247745", 1);
INSERT INTO MovieGenre (film_id, genre_id) VALUES ("tt0247745", 2);

INSERT INTO Production (production_id, production_name) VALUES (0, "Cataland Films");
INSERT INTO Production (production_id, production_name) VALUES (1, "Broken Lizard Industries");
INSERT INTO Production (production_id, production_name) VALUES (2, "Fox Searchlight Pictures");
INSERT INTO Production (production_id, production_name) VALUES (3, "Jersey Shore");
INSERT INTO Production (production_id, production_name) VALUES (4, "Árpád Productions");

INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 0);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 1);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 2);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 3);
INSERT INTO MovieProduction (film_id, production_id) VALUES ("tt0247745", 4);

INSERT INTO Tagline (film_id, tagline_text, tagline_id) VALUES ("tt0247745", "Altered State Police", 0);
INSERT INTO Tagline (film_id, tagline_text, tagline_id) VALUES ("tt0247745", "You dont mess with the law.  The law messes with you.", 1);