In [1]:
from filmsets import VincentPriceSets
from FilmCollectionExport import *

filmset = VincentPriceSets.small

detailed_collection = DetailedFilmCollection( filmset, VERBOSE = True)

Adding record 1 of 3
Adding record 2 of 3
Adding record 3 of 3

In [2]:
print( BaseSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", "House of Wax", 1953);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", "The Masque of the Red Death", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", "The Fly", 1958);

In [3]:
print( TaglineSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", "House of Wax", 1953);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", "The Masque of the Red Death", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", "The Fly", 1958);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Nothing that has gone before can compare with this!", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "The Wax Figures Also Looked Like Other People - People Who Had Disappeared..........", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "Horror has a face.", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "LOOK INTO THIS FACE - SHUDDER... at the blood-stained dance of the Red Death! TREMBLE... to the hideous tortures of the catacombs of Kali! GASP... at the sacrifice of the innocent virgin to the ven...", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "If she looked upon the horror her husband had become... she would scream for the rest of her life!", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "The fly with the head of a man...! And the man with the head of a fly!", 5);

In [4]:
print( ProductionSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", "House of Wax", 1953);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", "The Masque of the Red Death", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", "The Fly", 1958);

INSERT INTO Production (production_name, production_id) VALUES (0, "Warner Bros.");
INSERT INTO Production (production_name, production_id) VALUES (1, "Bryan Foy Productions");
INSERT INTO Production (production_name, production_id) VALUES (2, "Alta Vista Productions");
INSERT INTO Production (production_name, production_id) VALUES (3, "Twentieth Century Fox");
INSERT INTO Production (production_name, production_id) VALUES (4, "Regal Films");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 4);

In [5]:
print( DetailedSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);

INSERT INTO Person (person_name, person_id) VALUES (0, "Crane Wilbur");
INSERT INTO Person (person_name, person_id) VALUES (1, "Charles Belden");
INSERT INTO Person (person_name, person_id) VALUES (2, "Andr√© De Toth");
INSERT INTO Person (person_name, person_id) VALUES (3, "R. Wright Campbell");
INSERT INTO Person (person_name, person_id) VALUES (4, "Charles Beaumont");
INSERT INTO Person (person_name, person_id) VALUES (5, "Roger Corman");
INSERT INTO Person (person_name, person_id) VALUES (6, "George Langelaan");
INSERT INTO Person (person_name, person_id) VALUES (7, "James Clavell");
INSERT INTO Person (person_name, person_id) VALUES (8, "Kurt Neumann");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 8);

INSERT INTO Genre (genre_name, genre_id) VALUES (0, "Horror");
INSERT INTO Genre (genre_name, genre_id) VALUES (1, "Drama");
INSERT INTO Genre (genre_name, genre_id) VALUES (2, "Sci-Fi");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0045888", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0058333", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 2);

INSERT INTO Production (production_name, production_id) VALUES (0, "Warner Bros.");
INSERT INTO Production (production_name, production_id) VALUES (1, "Bryan Foy Productions");
INSERT INTO Production (production_name, production_id) VALUES (2, "Alta Vista Productions");
INSERT INTO Production (production_name, production_id) VALUES (3, "Twentieth Century Fox");
INSERT INTO Production (production_name, production_id) VALUES (4, "Regal Films");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 4);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Nothing that has gone before can compare with this!", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "The Wax Figures Also Looked Like Other People - People Who Had Disappeared..........", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "Horror has a face.", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "LOOK INTO THIS FACE - SHUDDER... at the blood-stained dance of the Red Death! TREMBLE... to the hideous tortures of the catacombs of Kali! GASP... at the sacrifice of the innocent virgin to the ven...", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "If she looked upon the horror her husband had become... she would scream for the rest of her life!", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "The fly with the head of a man...! And the man with the head of a fly!", 5);