In [1]:
from filmsets import *
from FilmCollectionExport import *

filmset = TestSet.VincentPrice.small

basic_collection    = BaseFilmCollection( filmset)
print( basic_collection )

=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0045888
tt0058333
tt0051622

In [2]:
detailed_collection = DetailedFilmCollection( filmset, VERBOSE = True)

Adding record 1 of 3:	tt0045888
Adding record 2 of 3:	tt0051622
Adding record 3 of 3:	tt0058333

In [3]:
detailed_collection.scrape_all()
print(  detailed_collection )

Creating thread 1.
Creating thread 2.
Creating thread 3.
Waiting for 3 threads..
Waiting for 2 threads..
Waiting for 1 threads..
=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0045888 : House of Wax (1953; 2 production companies; 2 taglines; detailed record)
tt0051622 : The Fly (1958; 2 production companies; 2 taglines; detailed record)
tt0058333 : The Masque of the Red Death (1964; 1 production companies; 2 taglines; detailed record)

In [4]:
print( DetailedSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);

INSERT INTO Person (person_id, person_name) VALUES (0, "Charles Belden");
INSERT INTO Person (person_id, person_name) VALUES (1, "Crane Wilbur");
INSERT INTO Person (person_id, person_name) VALUES (2, "Phyllis Kirk");
INSERT INTO Person (person_id, person_name) VALUES (3, "Frank Lovejoy");
INSERT INTO Person (person_id, person_name) VALUES (4, "Vincent Price");
INSERT INTO Person (person_id, person_name) VALUES (5, "Andr√© De Toth");
INSERT INTO Person (person_id, person_name) VALUES (6, "R. Wright Campbell");
INSERT INTO Person (person_id, person_name) VALUES (7, "Charles Beaumont");
INSERT INTO Person (person_id, person_name) VALUES (8, "Jane Asher");
INSERT INTO Person (person_id, person_name) VALUES (9, "Hazel Court");
INSERT INTO Person (person_id, person_name) VALUES (10, "Roger Corman");
INSERT INTO Person (person_id, person_name) VALUES (11, "James Clavell");
INSERT INTO Person (person_id, person_name) VALUES (12, "George Langelaan");
INSERT INTO Person (person_id, person_name) VALUES (13, "Patricia Owens");
INSERT INTO Person (person_id, person_name) VALUES (14, "David Hedison");
INSERT INTO Person (person_id, person_name) VALUES (15, "Kurt Neumann");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 8);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 9);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 11);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 12);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 13);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 14);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 15);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Horror");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Drama");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Sci-Fi");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0045888", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0058333", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 2);

INSERT INTO Production (production_id, production_name) VALUES (0, "Warner Bros.");
INSERT INTO Production (production_id, production_name) VALUES (1, "Bryan Foy Productions");
INSERT INTO Production (production_id, production_name) VALUES (2, "Alta Vista Productions");
INSERT INTO Production (production_id, production_name) VALUES (3, "Twentieth Century Fox");
INSERT INTO Production (production_id, production_name) VALUES (4, "Regal Films");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 4);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Nothing that has gone before can compare with this!", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Warner Bros. bring you the first feature produced by a major studio in 3D...", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "Horror has a face.", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "LOOK INTO THIS FACE - SHUDDER... at the blood-stained dance of the Red Death! TREMBLE... to the hideous tortures of the catacombs of Kali! GASP... at the sacrifice of the innocent virgin to the ven...", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "She had to kill the thing her husband had become -- But could she?", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "For your own good we urge you not to see it alone!", 5);