In [1]:
from filmsets import *
from FilmCollectionExport import *

filmset = TestSet.tiny

detailed_collection = DetailedFilmCollection( filmset)
detailed_collection.scrape_all()

Creating thread 1.
Waiting for 1 threads..

In [2]:
print( BaseSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0859635", "Super Troopers 2", 2018);

In [3]:
print( TaglineSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0859635", "Super Troopers 2", 2018);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0859635", "The time is meow.", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0859635", "The Mustache Rides, Again.", 1);

In [4]:
print( ProductionSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0859635", "Super Troopers 2", 2018);

INSERT INTO Production (production_id, production_name) VALUES (0, "Heretical Reason Productions");
INSERT INTO Production (production_id, production_name) VALUES (1, "Needle's Eye Productions");
INSERT INTO Production (production_id, production_name) VALUES (2, "Votiv Films");
INSERT INTO Production (production_id, production_name) VALUES (3, "Cataland Films");
INSERT INTO Production (production_id, production_name) VALUES (4, "Broken Lizard Industries");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 4);

In [5]:
print( DetailedSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0859635", "Super Troopers 2", 2018, 13500000, 31626386, 100);

INSERT INTO Person (person_id, person_name) VALUES (0, "Kevin Heffernan");
INSERT INTO Person (person_id, person_name) VALUES (1, "Jay Chandrasekhar");
INSERT INTO Person (person_id, person_name) VALUES (2, "Steve Lemme");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 0, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 1, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 1, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 2, 1);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Mystery");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Crime");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Comedy");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0859635", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0859635", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0859635", 2);

INSERT INTO Production (production_id, production_name) VALUES (0, "Heretical Reason Productions");
INSERT INTO Production (production_id, production_name) VALUES (1, "Needle's Eye Productions");
INSERT INTO Production (production_id, production_name) VALUES (2, "Votiv Films");
INSERT INTO Production (production_id, production_name) VALUES (3, "Cataland Films");
INSERT INTO Production (production_id, production_name) VALUES (4, "Broken Lizard Industries");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 4);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0859635", "The time is meow.", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0859635", "The Mustache Rides, Again.", 1);