In [1]:
from filmsets import VincentPriceSets
from FilmCollectionExport import *

filmset = VincentPriceSets.small

basic_collection    = BaseFilmCollection( filmset)
print( basic_collection )

=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0045888 : None (None)
tt0051622 : None (None)
tt0058333 : None (None)

In [2]:
taglined_collection = TaglineFilmCollection(filmset)
print(  taglined_collection)

=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0058333 : None (None; 2 taglines)
tt0051622 : None (None; 2 taglines)
tt0045888 : None (None; 2 taglines)

In [3]:
detailed_collection = DetailedFilmCollection( filmset, VERBOSE = True)

Adding record 1 of 3
Adding record 2 of 3
Adding record 3 of 3

In [4]:
print(  detailed_collection )

=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0058333 : The Masque of the Red Death (1964; 1 production companies; 2 taglines; detailed record)
tt0051622 : The Fly (1958; 2 production companies; 2 taglines; detailed record)
tt0045888 : House of Wax (1953; 2 production companies; 2 taglines; detailed record)

In [5]:
print( DetailedSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);

INSERT INTO Genre (genre_name, genre_id) VALUES (0, "Horror");
INSERT INTO Genre (genre_name, genre_id) VALUES (1, "Drama");
INSERT INTO Genre (genre_name, genre_id) VALUES (2, "Sci-Fi");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0058333", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0045888", 0);

INSERT INTO Production (production_name, production_id) VALUES (0, "Alta Vista Productions");
INSERT INTO Production (production_name, production_id) VALUES (1, "Regal Films");
INSERT INTO Production (production_name, production_id) VALUES (2, "Twentieth Century Fox");
INSERT INTO Production (production_name, production_id) VALUES (3, "Warner Bros.");
INSERT INTO Production (production_name, production_id) VALUES (4, "Bryan Foy Productions");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 4);

INSERT INTO Person (person_name, person_id) VALUES (0, "R. Wright Campbell");
INSERT INTO Person (person_name, person_id) VALUES (1, "Charles Beaumont");
INSERT INTO Person (person_name, person_id) VALUES (2, "Roger Corman");
INSERT INTO Person (person_name, person_id) VALUES (3, "James Clavell");
INSERT INTO Person (person_name, person_id) VALUES (4, "George Langelaan");
INSERT INTO Person (person_name, person_id) VALUES (5, "Kurt Neumann");
INSERT INTO Person (person_name, person_id) VALUES (6, "Charles Belden");
INSERT INTO Person (person_name, person_id) VALUES (7, "Crane Wilbur");
INSERT INTO Person (person_name, person_id) VALUES (8, "Andr√© De Toth");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 8);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "We defy you to stare into this face.", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "SHUDDER... at the blood-stained dance of the Red Death!  TREMBLE... to the hideous tortures of the catacombs of Kali!  GASP... at the sacrifice of the innocent virgin to the vengeance of Baal!", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "She had to kill the thing her husband had become -- But could she?", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "The fly with the head of a man...! And the man with the head of a fly!", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Beauty and Terror meet in your seat...as every thrill of its story comes off the screen right at you in NaturalVision 3 dimension", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "UNLIKE ANYTHING YOU'VE SEEN BEFORE! (original print ad - all caps)", 5);