In [1]:
from filmsets import VincentPriceSets
from base_classes import *
from detailed_classes import *

filmset = VincentPriceSets.small

basic_data    = BaseFilmCollection(     filmset, VERBOSE=False)
detailed_data = DetailedFilmCollection( filmset, VERBOSE=True )

Adding record 1 of 3
Adding record 2 of 3
Adding record 3 of 3

In [2]:
print( BaseFilmDatabase( basic_data).as_sql() )

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", Null, Null);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", Null, Null);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", Null, Null);

In [3]:
print( DetailedFilmDatabase( detailed_data).as_sql() )

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Horror");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Drama");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Sci-Fi");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0045888", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0058333", 0);

INSERT INTO Person (person_id, person_name) VALUES (0, "Andr√© De Toth");
INSERT INTO Person (person_id, person_name) VALUES (1, "Charles Belden");
INSERT INTO Person (person_id, person_name) VALUES (2, "Crane Wilbur");
INSERT INTO Person (person_id, person_name) VALUES (3, "Vincent Price");
INSERT INTO Person (person_id, person_name) VALUES (4, "Phyllis Kirk");
INSERT INTO Person (person_id, person_name) VALUES (5, "Frank Lovejoy");
INSERT INTO Person (person_id, person_name) VALUES (6, "Kurt Neumann");
INSERT INTO Person (person_id, person_name) VALUES (7, "James Clavell");
INSERT INTO Person (person_id, person_name) VALUES (8, "George Langelaan");
INSERT INTO Person (person_id, person_name) VALUES (9, "David Hedison");
INSERT INTO Person (person_id, person_name) VALUES (10, "Patricia Owens");
INSERT INTO Person (person_id, person_name) VALUES (11, "Roger Corman");
INSERT INTO Person (person_id, person_name) VALUES (12, "R. Wright Campbell");
INSERT INTO Person (person_id, person_name) VALUES (13, "Charles Beaumont");
INSERT INTO Person (person_id, person_name) VALUES (14, "Jane Asher");
INSERT INTO Person (person_id, person_name) VALUES (15, "Hazel Court");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 8);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 9);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 11);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 12);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 13);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 14);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 15);

INSERT INTO Production (production_id, production_name) VALUES (0, "Warner Bros.");
INSERT INTO Production (production_id, production_name) VALUES (1, "Bryan Foy Productions");
INSERT INTO Production (production_id, production_name) VALUES (2, "Twentieth Century Fox");
INSERT INTO Production (production_id, production_name) VALUES (3, "Regal Films");
INSERT INTO Production (production_id, production_name) VALUES (4, "Alta Vista Productions");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 4);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "UNLIKE ANYTHING YOU'VE SEEN BEFORE! (original print ad - all caps)", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Warner Bros. bring you the first feature produced by a major studio in 3D...", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "For your own good we urge you not to see it alone!", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "Horror Of The Winged Menace !", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "LOOK INTO THIS FACE - SHUDDER... at the blood-stained dance of the Red Death! TREMBLE... to the hideous tortures of the catacombs of Kali! GASP... at the sacrifice of the innocent virgin to the ven...", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "SHUDDER... at the blood-stained dance of the Red Death!  TREMBLE... to the hideous tortures of the catacombs of Kali!  GASP... at the sacrifice of the innocent virgin to the vengeance of Baal!", 5);