In [1]:
from filmsets import VincentPriceSets
from FilmDatabase import *

filmset = VincentPriceSets.small

basic_collection    = BaseFilmCollection( filmset)
print( basic_collection )

=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0058333 : None (None)
tt0045888 : None (None)
tt0051622 : None (None)

In [2]:
taglined_collection = TaglineFilmCollection(filmset, VERBOSE = True)
print(  taglined_collection)

Adding record 1 of 3
Adding record 2 of 3
Adding record 3 of 3
=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0045888 : None (None)
	(2 taglines)
tt0058333 : None (None)
	(2 taglines)
tt0051622 : None (None)
	(2 taglines)

In [3]:
detailed_collection = DetailedFilmCollection( filmset, VERBOSE = True)
print(  detailed_collection )

Adding record 1 of 3
Adding record 2 of 3
Adding record 3 of 3
=============================
||                         ||
||     Film Collection     ||
||                         ||
=============================
tt0051622 : The Fly (1958)
	(2 production companies)
	(2 taglines)
	(detailed record)
tt0045888 : House of Wax (1953)
	(2 production companies)
	(2 taglines)
	(detailed record)
tt0058333 : The Masque of the Red Death (1964)
	(1 production companies)
	(2 taglines)
	(detailed record)

In [4]:
print( DetailedFilmDatabase( detailed_collection).as_sql())

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);

INSERT INTO Genre (genre_name, genre_id) VALUES (0, "Drama");
INSERT INTO Genre (genre_name, genre_id) VALUES (1, "Horror");
INSERT INTO Genre (genre_name, genre_id) VALUES (2, "Sci-Fi");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0045888", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0058333", 1);

INSERT INTO Production (production_name, production_id) VALUES (0, "Twentieth Century Fox");
INSERT INTO Production (production_name, production_id) VALUES (1, "Regal Films");
INSERT INTO Production (production_name, production_id) VALUES (2, "Bryan Foy Productions");
INSERT INTO Production (production_name, production_id) VALUES (3, "Warner Bros.");
INSERT INTO Production (production_name, production_id) VALUES (4, "Alta Vista Productions");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 4);

INSERT INTO Person (person_name, person_id) VALUES (0, "Kurt Neumann");
INSERT INTO Person (person_name, person_id) VALUES (1, "George Langelaan");
INSERT INTO Person (person_name, person_id) VALUES (2, "James Clavell");
INSERT INTO Person (person_name, person_id) VALUES (3, "Patricia Owens");
INSERT INTO Person (person_name, person_id) VALUES (4, "David Hedison");
INSERT INTO Person (person_name, person_id) VALUES (5, "Vincent Price");
INSERT INTO Person (person_name, person_id) VALUES (6, "Andr√© De Toth");
INSERT INTO Person (person_name, person_id) VALUES (7, "Charles Belden");
INSERT INTO Person (person_name, person_id) VALUES (8, "Crane Wilbur");
INSERT INTO Person (person_name, person_id) VALUES (9, "Phyllis Kirk");
INSERT INTO Person (person_name, person_id) VALUES (10, "Frank Lovejoy");
INSERT INTO Person (person_name, person_id) VALUES (11, "Roger Corman");
INSERT INTO Person (person_name, person_id) VALUES (12, "R. Wright Campbell");
INSERT INTO Person (person_name, person_id) VALUES (13, "Charles Beaumont");
INSERT INTO Person (person_name, person_id) VALUES (14, "Hazel Court");
INSERT INTO Person (person_name, person_id) VALUES (15, "Jane Asher");

INSERT INTO RoleCode (role_name, role_code) VALUES ("Director", 0);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Writer", 1);
INSERT INTO RoleCode (role_name, role_code) VALUES ("Actor", 2);

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 8);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 9);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 11);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 12);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 13);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 14);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 15);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 5);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "The monster created by atoms gone wild", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "Once it was human... even as you and I!", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "Nothing that has gone before can compare with this!", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0045888", "The Wax Figures Also Looked Like Other People - People Who Had Disappeared..........", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "LOOK INTO THIS FACE - SHUDDER... at the blood-stained dance of the Red Death! TREMBLE... to the hideous tortures of the catacombs of Kali! GASP... at the sacrifice of the innocent virgin to the ven...", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "Horror has a face.", 5);