In [1]:
import movie_lists
import movie_database as mvdb

raw_movie_data = mvdb.MovieCollection( movie_lists.small_set, VERBOSE=True)

Scraping from tt0048673...	(1 of 6)
Scraping from tt0042700...	(2 of 6)
Scraping from tt0087892...	(3 of 6)
Scraping from tt0038574...	(4 of 6)
Scraping from tt0037558...	(5 of 6)
Scraping from tt0040662...	(6 of 6)

In [2]:
normalized_movie_data = mvdb.NormalizedMovieDatabase( raw_movie_data)

print( normalized_movie_data.as_sql())

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0042700", "Madeleine", 1950, Null, Null, 114);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0037558", "Brief Encounter", 1945, Null, 107384, 86);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0038574", "Great Expectations", 1946, Null, 19329, 118);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0040662", "Oliver Twist", 1948, Null, Null, 116);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0048673", "Summertime", 1955, Null, Null, 102);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0087892", "A Passage to India", 1984, 16000000, 27201487, 164);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Crime");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Mystery");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Drama");
INSERT INTO Genre (genre_id, genre_name) VALUES (3, "Romance");
INSERT INTO Genre (genre_id, genre_name) VALUES (4, "Adventure");
INSERT INTO Genre (genre_id, genre_name) VALUES (5, "History");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0042700", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0042700", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0042700", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0037558", 3);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0037558", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0038574", 4);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0038574", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0038574", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0038574", 3);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0040662", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0048673", 3);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0048673", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0087892", 4);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0087892", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0087892", 5);

INSERT INTO Person (person_id, person_name) VALUES (0, "David Lean");
INSERT INTO Person (person_id, person_name) VALUES (1, "Stanley Haynes");
INSERT INTO Person (person_id, person_name) VALUES (2, "Nicholas Phipps");
INSERT INTO Person (person_id, person_name) VALUES (3, "Norman Wooland");
INSERT INTO Person (person_id, person_name) VALUES (4, "Ann Todd");
INSERT INTO Person (person_id, person_name) VALUES (5, "Ivan Desny");
INSERT INTO Person (person_id, person_name) VALUES (6, "Trevor Howard");
INSERT INTO Person (person_id, person_name) VALUES (7, "Stanley Holloway");
INSERT INTO Person (person_id, person_name) VALUES (8, "Celia Johnson");
INSERT INTO Person (person_id, person_name) VALUES (9, "Charles Dickens");
INSERT INTO Person (person_id, person_name) VALUES (10, "Valerie Hobson");
INSERT INTO Person (person_id, person_name) VALUES (11, "Tony Wager");
INSERT INTO Person (person_id, person_name) VALUES (12, "John Mills");
INSERT INTO Person (person_id, person_name) VALUES (13, "Alec Guinness");
INSERT INTO Person (person_id, person_name) VALUES (14, "Robert Newton");
INSERT INTO Person (person_id, person_name) VALUES (15, "Kay Walsh");
INSERT INTO Person (person_id, person_name) VALUES (16, "Arthur Laurents");
INSERT INTO Person (person_id, person_name) VALUES (17, "H.E. Bates");
INSERT INTO Person (person_id, person_name) VALUES (18, "Katharine Hepburn");
INSERT INTO Person (person_id, person_name) VALUES (19, "Rossano Brazzi");
INSERT INTO Person (person_id, person_name) VALUES (20, "Isa Miranda");
INSERT INTO Person (person_id, person_name) VALUES (21, "E.M. Forster");
INSERT INTO Person (person_id, person_name) VALUES (22, "Victor Banerjee");
INSERT INTO Person (person_id, person_name) VALUES (23, "Judy Davis");
INSERT INTO Person (person_id, person_name) VALUES (24, "Peggy Ashcroft");

INSERT INTO RoleCode (role_code, role_name) VALUES (0, "Director");
INSERT INTO RoleCode (role_code, role_name) VALUES (1, "Writer");
INSERT INTO RoleCode (role_code, role_name) VALUES (2, "Actor");

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0042700", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0042700", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0042700", 1, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0042700", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0042700", 2, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0042700", 2, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0037558", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0037558", 1, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0037558", 1, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0037558", 1, 8);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0038574", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0038574", 1, 9);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0038574", 1, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0038574", 2, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0038574", 2, 11);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0038574", 2, 12);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0040662", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0040662", 1, 9);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0040662", 1, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0040662", 2, 13);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0040662", 2, 14);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0040662", 2, 15);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0048673", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0048673", 1, 16);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0048673", 1, 17);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0048673", 2, 18);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0048673", 2, 19);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0048673", 2, 20);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0087892", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0087892", 1, 21);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0087892", 2, 22);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0087892", 2, 23);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0087892", 2, 24);

INSERT INTO Production (production_id, production_name) VALUES (0, "BFI National Archive");
INSERT INTO Production (production_id, production_name) VALUES (1, "J. Arthur Rank Organisation");
INSERT INTO Production (production_id, production_name) VALUES (2, "General Film Distributors (GFD)");
INSERT INTO Production (production_id, production_name) VALUES (3, "Eagle-Lion Distributors Limited");
INSERT INTO Production (production_id, production_name) VALUES (4, "Cineguild");
INSERT INTO Production (production_id, production_name) VALUES (5, "Independent Film Distributors (IFD)");
INSERT INTO Production (production_id, production_name) VALUES (6, "Lopert Films");
INSERT INTO Production (production_id, production_name) VALUES (7, "EMI Films");
INSERT INTO Production (production_id, production_name) VALUES (8, "Peerless Camera Company");
INSERT INTO Production (production_id, production_name) VALUES (9, "Columbia Pictures");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0042700", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0042700", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0042700", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0037558", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0037558", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0037558", 4);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0038574", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0038574", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0038574", 4);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0040662", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0040662", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0040662", 4);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0048673", 5);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0048673", 6);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0087892", 7);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0087892", 8);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0087892", 9);

INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (0, "tt0042700", "Here are the virile, violent facts that caused the most famous jury verdict in history...(USA poster)");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (1, "tt0042700", "FROM THE KISS THAT BEGAN THE BACK DOOR LOVE AFFAIR...to the crime that made the front pages of the world...(USA print ad)");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (2, "tt0037558", "A story of the most precious moments in woman's life!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (3, "tt0037558", "A moving love story, delightful comedy.. All will follow their problem with emotion and understanding.");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (4, "tt0038574", "NOW The Screen Fulfills Your Greatest Expectations...In ACTION! In ADVENTURE! In ROMANCE!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (5, "tt0038574", "From the Vivid Pages of Charles Dickens' Masterpiece !");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (6, "tt0040662", "A Screen Event To Be Remembered For All Time !");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (7, "tt0048673", "Hepburn...As You've Never Seen Her! Venice...As You've Never Seen It!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (8, "tt0048673", "All the pent-up yearning of her life was finally fulfilled ... amid the splendor of the world's most fabulous city!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (9, "tt0087892", "David Lean, the Director of 'Doctor Zhivago', 'Lawrence of Arabia' and 'The Bridge on the River Kwai', invites you on . . .[A Passage to India]");