In [1]:
from filmsets import VincentPriceSets
import user_facing_classes as cls

filmset = VincentPriceSets.recursive_expansion_small_2_2

raw_movie_data = cls.BaseFilmCollection(filmset , VERBOSE=True)

Scraping from tt0051622...	(1 of 9)
Scraping from tt0055304...	(2 of 9)
Scraping from tt0064949...	(3 of 9)
Scraping from tt0045888...	(4 of 9)
Scraping from tt0051744...	(5 of 9)
Scraping from tt0056943...	(6 of 9)
Scraping from tt0056552...	(7 of 9)
Scraping from tt0058333...	(8 of 9)
Scraping from tt0064747...	(9 of 9)

In [2]:
normalized_movie_data = cls.BaseFilmDatabase( raw_movie_data)

print( normalized_movie_data.as_sql())

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051744", "House on Haunted Hill", 1959, 200000, Null, 75);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056552", "Tales of Terror", 1962, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0064747", "The Oblong Box", 1969, Null, Null, 96);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0055304", "Pit and the Pendulum", 1961, 200000, Null, 80);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056943", "The Comedy of Terrors", 1963, Null, Null, 84);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0064949", "Scream and Scream Again", 1970, 350000, Null, 95);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Horror");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Mystery");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Crime");
INSERT INTO Genre (genre_id, genre_name) VALUES (3, "Drama");
INSERT INTO Genre (genre_id, genre_name) VALUES (4, "Sci-Fi");
INSERT INTO Genre (genre_id, genre_name) VALUES (5, "Comedy");
INSERT INTO Genre (genre_id, genre_name) VALUES (6, "Thriller");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051744", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051744", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051744", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 3);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0051622", 4);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0058333", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0045888", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0056552", 5);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0056552", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0056552", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0056552", 6);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064747", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0055304", 3);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0055304", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0055304", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0056943", 5);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0056943", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064949", 6);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064949", 4);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064949", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064949", 3);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064949", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0064949", 1);

INSERT INTO Person (person_id, person_name) VALUES (0, "William Castle");
INSERT INTO Person (person_id, person_name) VALUES (1, "Robb White");
INSERT INTO Person (person_id, person_name) VALUES (2, "Carol Ohmart");
INSERT INTO Person (person_id, person_name) VALUES (3, "Vincent Price");
INSERT INTO Person (person_id, person_name) VALUES (4, "Richard Long");
INSERT INTO Person (person_id, person_name) VALUES (5, "Kurt Neumann");
INSERT INTO Person (person_id, person_name) VALUES (6, "James Clavell");
INSERT INTO Person (person_id, person_name) VALUES (7, "George Langelaan");
INSERT INTO Person (person_id, person_name) VALUES (8, "David Hedison");
INSERT INTO Person (person_id, person_name) VALUES (9, "Patricia Owens");
INSERT INTO Person (person_id, person_name) VALUES (10, "Roger Corman");
INSERT INTO Person (person_id, person_name) VALUES (11, "R. Wright Campbell");
INSERT INTO Person (person_id, person_name) VALUES (12, "Charles Beaumont");
INSERT INTO Person (person_id, person_name) VALUES (13, "Hazel Court");
INSERT INTO Person (person_id, person_name) VALUES (14, "Jane Asher");
INSERT INTO Person (person_id, person_name) VALUES (15, "Andr√© De Toth");
INSERT INTO Person (person_id, person_name) VALUES (16, "Charles Belden");
INSERT INTO Person (person_id, person_name) VALUES (17, "Crane Wilbur");
INSERT INTO Person (person_id, person_name) VALUES (18, "Frank Lovejoy");
INSERT INTO Person (person_id, person_name) VALUES (19, "Phyllis Kirk");
INSERT INTO Person (person_id, person_name) VALUES (20, "Edgar Allan Poe");
INSERT INTO Person (person_id, person_name) VALUES (21, "Richard Matheson");
INSERT INTO Person (person_id, person_name) VALUES (22, "Maggie Pierce");
INSERT INTO Person (person_id, person_name) VALUES (23, "Leona Gage");
INSERT INTO Person (person_id, person_name) VALUES (24, "Gordon Hessler");
INSERT INTO Person (person_id, person_name) VALUES (25, "Lawrence Huntington");
INSERT INTO Person (person_id, person_name) VALUES (26, "Christopher Lee");
INSERT INTO Person (person_id, person_name) VALUES (27, "Alister Williamson");
INSERT INTO Person (person_id, person_name) VALUES (28, "Barbara Steele");
INSERT INTO Person (person_id, person_name) VALUES (29, "John Kerr");
INSERT INTO Person (person_id, person_name) VALUES (30, "Jacques Tourneur");
INSERT INTO Person (person_id, person_name) VALUES (31, "Peter Lorre");
INSERT INTO Person (person_id, person_name) VALUES (32, "Boris Karloff");
INSERT INTO Person (person_id, person_name) VALUES (33, "Peter Saxon");
INSERT INTO Person (person_id, person_name) VALUES (34, "Christopher Wicking");
INSERT INTO Person (person_id, person_name) VALUES (35, "Peter Cushing");

INSERT INTO RoleCode (role_code, role_name) VALUES (0, "Director");
INSERT INTO RoleCode (role_code, role_name) VALUES (1, "Writer");
INSERT INTO RoleCode (role_code, role_name) VALUES (2, "Actor");

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051744", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051744", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051744", 2, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051744", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051744", 2, 4);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 0, 5);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 6);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 1, 7);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 8);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 9);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0051622", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 0, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 11);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 1, 12);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 13);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0058333", 2, 14);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 0, 15);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 16);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 1, 17);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 18);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 19);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0045888", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056552", 0, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056552", 1, 20);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056552", 1, 21);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056552", 2, 22);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056552", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056552", 2, 23);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064747", 0, 24);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064747", 1, 20);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064747", 1, 25);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064747", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064747", 2, 26);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064747", 2, 27);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0055304", 0, 10);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0055304", 1, 20);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0055304", 1, 21);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0055304", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0055304", 2, 28);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0055304", 2, 29);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056943", 0, 30);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056943", 1, 21);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056943", 2, 31);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056943", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0056943", 2, 32);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064949", 0, 24);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064949", 1, 33);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064949", 1, 34);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064949", 2, 35);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064949", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0064949", 2, 26);

INSERT INTO Production (production_id, production_name) VALUES (0, "William Castle Productions");
INSERT INTO Production (production_id, production_name) VALUES (1, "Regal Films");
INSERT INTO Production (production_id, production_name) VALUES (2, "Twentieth Century Fox");
INSERT INTO Production (production_id, production_name) VALUES (3, "Alta Vista Productions");
INSERT INTO Production (production_id, production_name) VALUES (4, "Bryan Foy Productions");
INSERT INTO Production (production_id, production_name) VALUES (5, "Warner Bros.");
INSERT INTO Production (production_id, production_name) VALUES (6, "American International Pictures (AIP)");
INSERT INTO Production (production_id, production_name) VALUES (7, "Amicus Productions");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051744", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051622", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 4);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0045888", 5);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0056552", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0064747", 6);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0055304", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0056943", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0064949", 7);

INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (0, "tt0051744", "The 13 Greatest SHOCKS ever seen!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (1, "tt0051744", "See it with someone with warm hands!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (2, "tt0051622", "It's the terror-topper first introduced to the public in 'Playboy' Magazine!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (3, "tt0051622", "She had to kill the thing her husband had become -- But could she?");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (4, "tt0058333", "SHUDDER... at the blood-stained dance of the Red Death!  TREMBLE... to the hideous tortures of the catacombs of Kali!  GASP... at the sacrifice of the innocent virgin to the vengeance of Baal!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (5, "tt0058333", "We defy you to stare into this face.");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (6, "tt0045888", "Warner Bros. bring you the first feature produced by a major studio in 3D...");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (7, "tt0045888", "UNLIKE ANYTHING YOU'VE SEEN BEFORE! (original print ad - all caps)");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (8, "tt0056552", "A Trilogy of Shock and Horror!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (9, "tt0064747", "Edgar Allen Poe's classic tale of the restless dead and their subterranean world of horror and the unspeakable!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (10, "tt0064747", "...Edgar Allan Poe's Horror Classic!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (11, "tt0055304", "Until now no one has dared to film this ...... the most diabolical classic of all time!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (12, "tt0055304", "Betrayal cuts both ways!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (13, "tt0056943", "A macabre romp featuring 4 great names from the Horror Hall of Fame!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (14, "tt0056943", "A grave case of greed gone too far!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (15, "tt0064949", "HORROR That Nightmares Are Made Of!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (16, "tt0064949", "TRIPLE DISTILLED HORROR... as powerful as a vat of boiling ACID!");