In [1]:
import movie_lists
import movie_database as mvdb

raw_movie_data = mvdb.MovieCollection( movie_lists.one_has_no_taglines, VERBOSE=True)

Scraping from tt0247745...	(1 of 3)
Scraping from tt8820258...	(2 of 3)
Scraping from tt0859635...	(3 of 3)

In [2]:
normalized_movie_data = mvdb.NormalizedMovieDatabase( raw_movie_data)

print( normalized_movie_data.as_sql())

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt8820258", "Super Troopers 3: Winter Soldiers             ", Null, Null, Null, 100);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0247745", "Super Troopers", 2001, 3000000, 23182223, 100);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0859635", "Super Troopers 2", 2018, 13500000, 31626386, 100);

INSERT INTO Genre (genre_id, genre_name) VALUES (0, "Mystery");
INSERT INTO Genre (genre_id, genre_name) VALUES (1, "Crime");
INSERT INTO Genre (genre_id, genre_name) VALUES (2, "Comedy");

INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt8820258", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt8820258", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt8820258", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0247745", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0247745", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0247745", 2);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0859635", 0);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0859635", 1);
INSERT INTO MovieGenre (movie_id, genre_id) VALUES ("tt0859635", 2);

INSERT INTO Person (person_id, person_name) VALUES (0, "Jay Chandrasekhar");
INSERT INTO Person (person_id, person_name) VALUES (1, "Kevin Heffernan");
INSERT INTO Person (person_id, person_name) VALUES (2, "Steve Lemme");
INSERT INTO Person (person_id, person_name) VALUES (3, "André Vippolis");

INSERT INTO RoleCode (role_code, role_name) VALUES (0, "Director");
INSERT INTO RoleCode (role_code, role_name) VALUES (1, "Writer");
INSERT INTO RoleCode (role_code, role_name) VALUES (2, "Actor");

INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt8820258", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt8820258", 1, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt8820258", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt8820258", 2, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt8820258", 2, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt8820258", 2, 2);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0247745", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0247745", 1, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0247745", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0247745", 2, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0247745", 2, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0247745", 2, 3);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 0, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 1, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 1, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 2, 0);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 2, 1);
INSERT INTO Role (movie_id, role_code, person_id) VALUES ("tt0859635", 2, 2);

INSERT INTO Production (production_id, production_name) VALUES (0, "Broken Lizard Industries");
INSERT INTO Production (production_id, production_name) VALUES (1, "Cataland Films");
INSERT INTO Production (production_id, production_name) VALUES (2, "Fox Searchlight Pictures");
INSERT INTO Production (production_id, production_name) VALUES (3, "Jersey Shore");
INSERT INTO Production (production_id, production_name) VALUES (4, "Árpád Productions");
INSERT INTO Production (production_id, production_name) VALUES (5, "Votiv Films");
INSERT INTO Production (production_id, production_name) VALUES (6, "Needle's Eye Productions");
INSERT INTO Production (production_id, production_name) VALUES (7, "Heretical Reason Productions");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt8820258", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0247745", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0247745", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0247745", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0247745", 4);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0247745", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 5);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 6);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0859635", 7);

INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (0, "tt0247745", "Altered State Police");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (1, "tt0247745", "You dont mess with the law.  The law messes with you.");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (2, "tt0859635", "Don't Miss It!");
INSERT INTO Tagline (tagline_id, movie_id, tagline_text) VALUES (3, "tt0859635", "The time is meow.");